<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Issue Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type='text/css' />
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            .form-control {
                margin-bottom: 24px;
            }
        </style>
    </head>
    <body>

        {% if matches %}
        <div class='container'>
            <div class='row justify-content-center'>
                <h2 style='margin: auto !important; margin-top: 24px !important;'>There are some similar projects already in our records...</h2>
            </div>
            {% for match in matches %}
            <div class='row' style='margin-top: 24px !important;'>
                <div class='col-md-2'></div>
                <div class='col-md-3'><span style='font-weight: bold;'>Similarity Rating</span><br>{{match.similarity_rating}}%</div>
                <div class='col-md-3'><span style='font-weight: bold;'>Title</span><br> {{match.duplicate.project_name}}</div>
                <div class='col-md-3'><span style='font-weight: bold;'>Description</span><br> {{match.duplicate.project_description}}</div>
                <div class='col-md-1'></div>
            </div>
            {% endfor %}
        </div>
        {% elif no_match %}
        <div class='container'>
            <div class='row justify-content-center'>
                <h2 style='margin-top: 24px !important; text-align: center !important;'>Project Successfully Registered</h2>
            </div>
        </div>   
        {% endif %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <form class='form-horizontal' action='/api/nlp/' method='POST' autocomplete='off' style='margin-top: 42px;'>
                        {% csrf_token %}
                        {% for field in project_issue_form %}
                            <div class='form-group'>       
                                <div class='row'>                 
                                    <label class='col-form-label col-sm-4' for='{{field.id_for_label}}' style='text-align: right;'>
                                        {{field.label.title}}
                                    </label> 
                                    <div class='col-sm-6'>
                                        {{field}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class='row'>
                            <button type='submit' class='btn btn-success' style='margin-bottom: 42px !important; margin: auto;'>Submit Form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>